<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Lists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">New List</a>
  </li>
</ul>

<div class="banner">
  <%= image_tag url('https://t3.ftcdn.net/jpg/03/74/28/58/360_F_374285858_KzJ88FysqJ79AhyNPW2lqnBtsRTokuav.jpg') %>
</div>

<div class="container">
  <% @lists.each do |list| %>
  <div class="row" style="display: inline">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag url('https://www.listchallenges.com/f/lists/8e71768d-09f3-4deb-89d3-71ef645b7433.jpg') %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text">List ID <%= list.id %></p>
          <%= link_to "Check out your list", list_path(list)%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "create a new list", new_list_path %>
